
@{
    ViewData["Title"] = "jQuery";
}

<h1>jQuery</h1>
<button id="buttonGet" class="btn btn-primary">get</button>
<button id="buttonPost" class="btn btn-secondary">post</button>
<button id="buttonJson" class="btn btn-success">getJson</button>
<button id="buttonLoad" class="btn btn-info">load</button>
<button id="buttonAjax" class="btn btn-warning">ajax</button>
<button id="buttonCors" class="btn btn-danger">cors</button>
<div class="alert alert-dark mt-3 w-50" role="alert" id="divAlert">
    <ul>

    </ul>
</div>
@section Scripts{
    <script>
        //GET
        $('#buttonGet').click(function(){ 
            //第一個參數:api網址 第二個參數:要代到網址的參數 第三個參數:接收資料的
            $.get('@Url.Content("~/api/getdemo")',{"name":"TOM","age":28},function(data){
            //data就會收到伺服器回傳的結果
            $('#divAlert').text(data)
            })
        })
        
        $('#buttonPost').click(function () {
            $.post('@Url.Content("~/api/getdemo")', { "name": "Jacky", "age": 27 }, function (data){
                $('#divAlert').text(data)
        })
        })

        //回傳的是陣列，這邊都用jquery方式來做，用each印出來
        $('#buttonJson').click(function () {
            $.getJSON('@Url.Content("~/api/Cities")', function (datas) {
                //接下來要把它展示到網頁上
                const theUl = $('#divAlert>ul')//找到divAlert後再去抓他下一個子元素?ul //因為appand會一直更新網頁(渲染)，所以不要用在迴圈內
                const docFrag=$(document.createDocumentFragment())//建立一個空的元素(就是不要給它有標籤，標籤讓他在下面的迴圈出現就好)
                $.each(datas,function(idx,city){
                //console.log(city)
                    const item = $('<li></li>').text(city)//把city的內容丟到<li></li>裡面 JS方法是textContent
                    docFrag.append(item)//把子元素丟入元素中 JS方法是appendChild
                })
                theUl.html(docFrag)
            })
        })

        //用load方式載入partial
        $('#buttonLoad').click(function () {
            //$('#divAlert').load('@Url.Content("~/home/partial1")')
            $('#divAlert').load('@Url.Content("~/home/partial2")')
        })
        $('#buttonAjax').click(function () {
            $('#divAlert').text("AJAX")
        })
        $('#buttonCors').click(function () {
            $('#divAlert').text("CORs")
        })

    </script>
}